extends main-layout

block content
  +GLContainer
  +GLControlPanel
  +GLPopupPanel

block customStyle
  link(rel='stylesheet', href='/css/style.css')

mixin GLContainer
  #gl-container

mixin GLControlPanel
  .panel.panel-default#gl-control
    .panel-heading Controls
    table.table.table-bordered.table-striped
      tr
        td.gl-control-action
          kbd C
        td.gl-control-explanation
          span Toggle mouse mode (move mouse to rotate camera)
      tr
        td.gl-control-action
          div
            kbd +
            kbd -
            kbd ←
          div
            kbd →
            kbd ↑
            kbd ↓
        td.gl-control-explanation
          span Move camera in keyboard mode
      tr
        td.gl-control-action Click the books
        td.gl-control-explanation For more information

mixin GLPopupPanel
  #gl-panel.inactive
    .panel.panel-default
      .panel-heading
        .row
          #gl-panel-title.pull-left
          button.pull-right.close#gl-panel-close(type="button", aria-label="Close")
            span(aria-hidden="true") &times;
      .panel-body#gl-panel-body


block customScript
  script#book-template(type="text/template")
    .row
      .col-md-6
        img#gl-panel-cover.img-tumbnail.img-responsive
      .col-md-6
        p
          a.btn.btn-info.btn-block#gl-panel-url Go To Homepage
          a.btn.btn-success.btn-block#gl-panel-amazon Buy On Amazon
        hr
        p.gl-panel-isbn-block ISBN:
          span#gl-panel-isbn

  script#conversation-template(type="text/template")
    p#gl-panel-conversation
    p
      a.btn.btn-info#gl-panel-leave You should leave

  script(src="js/libs/three.min.js")

  script(src="js/loaders/DDSLoader.js")
  script(src="js/loaders/OBJLoader.js")
  script(src="js/loaders/MTLLoader.js")
  script(src="js/loaders/OBJMTLLoader.js")
  script(src="js/loaders/BlendCharacter.js")

  script(src="js/modifiers/SubdivisionModifier.js")

  script(src="js/renderers/Projector.js")
  script(src="js/renderers/Detector.js")

  script(src="js/libs/stats.min.js")
  script(src="js/libs/color-thief.min.js")

  script(src="js/utils.js")
  script(src="js/bookcase.js")
  script(src="js/main.js")