extends layout

block style
  link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
  link(rel='stylesheet', href='/css/style.css')


block header
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/")=title
      
      div.collapse.navbar-collapse
          ul.nav.nav-pills.navbar-nav.navbar-right
            li(role="presentation")
              a(href="https://github.com/joyeecheung/virtual-bookcase") About


block content
  #gl-container

  .panel.panel-default#gl-control
    table.table.table-bordered.table-striped
      tr
        td.gl-control-action
          kbd C
        td.gl-control-explanation
          span Toggle mouse mode (move mouse to rotate camera)
      tr
        td.gl-control-action
          kbd +
          kbd -
          kbd ←
          kbd →
          kbd ↑
          kbd ↓
        td.gl-control-explanation
          span Move camera in keyboard mode
      tr
        td.gl-control-action Click the books
        td.gl-control-explanation For more information

  #gl-panel.panel.panel-default.hidden
    .panel-heading
      .row
        #gl-panel-title.col-md-11
        button.col-md-1.close#gl-panel-close(type="button", aria-label="Close")
          span(aria-hidden="true") &times;
    .panel-body
      .row
        .col-md-6
          img#gl-panel-cover.img-tumbnail.img-responsive
        .col-md-6
          p
            a.btn.btn-info.btn-block#gl-panel-url Go To Homepage
            a.btn.btn-success.btn-block#gl-panel-amazon Buy On Amazon
          hr
          p.gl-panel-isbn-block ISBN:
            span#gl-panel-isbn
          
block script
  script(src="js/libs/three.min.js")

  script(src="js/loaders/DDSLoader.js")
  script(src="js/loaders/MTLLoader.js")
  script(src="js/loaders/OBJMTLLoader.js")

  script(src="js/renderers/Projector.js")

  script(src="js/Detector.js")
  script(src="js/libs/stats.min.js")
  script(src="js/libs/jquery-1.11.2.min.js")
  script(src="js/utils.js")
  script(src="js/bookcase.js")
