extends layout

block style
  link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
  link(rel='stylesheet', href='/css/style.css')


block header
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/")=title
      
      div.collapse.navbar-collapse
          ul.nav.nav-pills.navbar-nav.navbar-right
            li(role="presentation")
              a(href="/about") About


block content
  #gl-container

  ul.list-group#gl-control
    li.list-group-item
      kbd C
      span.gl-control-explanation Toggle mouse mode(move to rotate camera)
    li.list-group-item
      kbd +
      kbd -
      kbd ← → ↑ ↓
      span.gl-control-explanation move camera in keyboard mode

  #gl-panel.panel.panel-default.hidden
    #gl-panel-title.panel-heading
    .panel-body
      a#gl-panel-link

block script
  script(src="js/libs/three.min.js")

  script(src="js/loaders/DDSLoader.js")
  script(src="js/loaders/MTLLoader.js")
  script(src="js/loaders/OBJMTLLoader.js")

  script(src="js/renderers/Projector.js")

  script(src="js/Detector.js")
  script(src="js/libs/stats.min.js")
  script(src="js/libs/jquery-1.11.2.min.js")
  script(src="js/utils.js")
  script(src="js/bookcase.js")
