doctype html
html
  head
    title= title
    meta(charset="utf-8")
    block viewport
      meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    block style
  body
    block header
    block content
    block script