extends layout

block style
  link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
  block customStyle

block header
  //- nav.navbar.navbar-default.navbar-static-top
  //-   .container-fluid
  //-     .navbar-header
  //-       a.navbar-brand(href="/")=title
      
  //-     div.collapse.navbar-collapse
  //-         ul.nav.nav-pills.navbar-nav.navbar-right
  //-           li(role="presentation")
  //-             a(href="https://github.com/joyeecheung/virtual-bookcase") About

block script
  script(src="js/libs/zepto.min.js")
  block customScript
