body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0px;
}

.navbar-static-top {
  margin: 0;
}

#gl-container {
  width: 900px;
  height: 600px;
  margin: 0 auto;
}

#gl-control {
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 300px;
}

#gl-control kbd {
  margin-right: 5px;
}

#gl-panel {
  width: 400px;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.gl-panel-isbn-block {
  font-size: 18px;
}

.gl-control-action {
  text-align: center;
}

.in-select {
  cursor: pointer;
}