body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  color: #bbb;
  margin: 0px;
}

.navbar-static-top {
  margin: 0;
}

#gl-container {
  width: 900px;
  height: 600px;
  margin: 0 auto;
}

#gl-control {
  position: fixed;
  bottom: 10px;
  right: 30px;
}
